---
import { Image } from 'astro:assets';
import { SITE } from 'astrowind:config';
import logoDark from '@/assets/images/logo-dark.png';
---

<!-- FIXME: light mode logo -->
<Image src={logoDark} alt='unisudo' height={23} width={23} />
<span
  class='ml-2 self-center whitespace-nowrap text-2xl font-bold text-gray-900 dark:text-white md:text-xl rtl:ml-0 rtl:mr-2'
>
  {SITE?.name}
</span>
