---
import { LiveChatDemo } from '@/components/lit/LiveChatDemo';
---

<section class="dark:bg-dark">
  <div class="max-w-6xl mx-auto flex justify-center motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <LiveChatDemo client:load />
  </div>
</section>
