---
import { LiveChatDemo } from '@/components/lit/LiveChatDemo';
---

<section class="dark:bg-dark">
  <div class="max-w-6xl mx-auto flex justify-center">
    <LiveChatDemo client:load />
  </div>
</section>
